body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(45deg, #554994, #CBA0AE);
    height: 100vh;

}

/* Page inscription */

.container1 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #44403c;

    height: 430px;
    width: 350px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    
}

.container1 h1 {
    color: #d2b966;
    margin-bottom: 50px;
}

.container1 input {
    border: none;
    outline: none;
    background: none;

    color: #d2b966;

    border-bottom: 2px solid;
    margin-bottom: 50px;
}

.container1 input::placeholder {
    color:  #d2b966;
    opacity: 0.8;
}


#inscription {
    border: none;
    font-weight: bold;
    font-size: 20px;
    color:#d2b966;

    margin-top: 20px;
}

#inscription:hover {
    color: #d2b966;
    opacity: 0.6;
} 


/* Page de connexion */

.container2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #44403c;

    height: 320px;
    width: 350px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    
}

.container2 h1 {
    color: #d2b966;
    margin-bottom: 50px;
}

.container2 input {
    border: none;
    outline: none;
    background: none;

    color: #d2b966;

    border-bottom: 2px solid;
    margin-bottom: 50px;
}

.container2 input::placeholder {
    color:  #d2b966;
    opacity: 0.8;
}


#connexion {
    border: none;
    font-weight: bold;
    font-size: 20px;
    color:#d2b966;
}

#connexion:hover {
    color: #d2b966;
    opacity: 0.6;
} 


/* Page todo */

.container3 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #44403c;

    height: 580px;
    width: 550px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.container3 h1{
    text-align: center;
    color: #d2b966;
}

.container3 .titre {
    padding-left: 10px;
}

.container3 .titre input {
    border: none;
    outline: none;
    background: none;

    color: #d2b966;

    border-bottom: 2px solid;
    margin-top: 10px;
    margin-bottom: 40px;
    

    font-size: 20px;
}

.container3 .titre input::placeholder {
    color:  #d2b966;
    opacity: 0.8;
}

.container3 .descriptif {
    padding-left: 10px;
}

.container3 textarea {
    resize: none;

    width: 522px;
    height: 130px;

    background-color: #efe7ca;
    color: #646464;
    font-family: 'Roboto Condensed', sans-serif ;
    font-size: 16px;

    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;

    transition: all 0.2s;
}

.container3 textarea:hover {
    background-color: #f7f3e6;
}

.container3 .select {
    padding-left: 10px;
}

.container3 select {
    background-color: white;
    color: #d2b966;
    border: none;
    outline: none;
    font-size: 14px;

    border-bottom: 2px solid #d2b966;
    margin-bottom: 13px;

    height: 30px;
}

.container3 select:hover{
    border: none;
    outline: none;
    border-bottom: 2px solid #efe7ca;;
}

.container3 .dates {
    padding-left: 10px;
    font-family: inherit;
    color: #646464;
}

.container3 .dates input {
    background-color: white;
    color: #d2b966;
    border: none;
    outline: none;
    border-bottom: 2px solid #d2b966;

    margin-bottom: 40px;
}

.container3 .categorie {
    padding-left: 10px;
}

.container3 .categorie input{
    border: none;
    outline: none;
    background: none;

    color: #d2b966;

    border-bottom: 2px solid;
    margin-bottom: 50px;

    font-size: 14px;
}

.container3 .categorie input::placeholder {
    color:  #d2b966;
    opacity: 0.8;
}

.container3 .ajouter {
    text-align: center;
}

.container3 .ajouter input {
    background-color: #d2b966;
    color: white;

    height: 50px;
    width: 100px;

    border: none;
    border-radius: 5px;

    font-size: 20px;
}

/* Page liste*/

.container4 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #44403c;

    height: 580px;
    width: 700px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.container4 h1{
    text-align: center;
    color: #d2b966;
}

.container4 .fixed {
    display: flex;
}

.container4 .tool {
    margin-left: 450px;
    display: flex;
 
}



/* responsive telephone */

@media only screen and (max-width: 600px) {

    /* Responsive connexion*/
    .container2 {
        background-color: white;
        border-radius: 10px;
        box-shadow: 8px 5px 5px #44403c;
    
        height: 320px;
        width: 350px;
    
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    
        text-align: center;
        
    }
    
    /* Responsive todo */

    .container3 {
        background-color: white;
        border-radius: 10px;
        box-shadow: 8px 5px 5px #44403c;
    
        height: 650px;
        width: 350px;
    
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    
    }

    .container3 textarea {
        resize: none;
    
        width: 322px;
        height: 130px;
    
        background-color: #efe7ca;
        color: #646464;
        font-family: 'Roboto Condensed', sans-serif ;
        font-size: 16px;
    
        border: 2px solid transparent;
        border-radius: 5px;
        outline: none;
    
        transition: all 0.2s;
    }
    
    .container3 textarea:hover {
        background-color: #f7f3e6;
    }

    .container3 .select {
        padding-left: 10px;
        margin-top: 20px;
    }

    .container3 .dates {
        font-family: inherit;
        color: #646464;

        margin-top: 20px;
    }

    .container3 label {
        display: inline-block;
    }
    
    .container3 .dates input {
        background-color: white;
        color: #d2b966;
        border: none;
        outline: none;
        border-bottom: 2px solid #d2b966;
    
        margin-bottom: 40px;
    }


    
    

}




